current_model: "vic-13b"
llama_bin: "../llama.cpp/main"
models_path: "./models"

models:
  "open-llama-7b":
    model: "open-llama-7B-open-instruct.ggmlv3.q4_K_M.bin"
    suffix: "Assistant:"
    reverse_prompt: "User:"
    parameters: >
      -n 512 --top_k 10000 --temp 0.2 --repeat_penalty 1.2 -t 2 -ngl 1
    timeout: 30
  "llama-7b":
    model: "llama-7b.ggmlv3.q4_K_M.bin"
    suffix: "Assistant:"
    reverse_prompt: "User:"
    parameters: >
      -i -n 512 --top_k 10000 --temp 0.2 --repeat_penalty 1.2 -t 2 -ngl 1
    timeout: 30
  "vic-13b":
    model: "ggml-vic13b-q4_0.bin"
    suffix: "Assistant:"
    reverse_prompt: "User:"
    parameters: >
      -n 1024 --top_k 10000 --temp 0.2 --repeat_penalty 1.2 -t 2 -ngl 1
    timeout: 60
